# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

*.zip
.next/
backend/__pycache__/
backend/.env
*.pem
*.db

# env files
.env
.env.*
!.env.example

# python
__pycache__/
*.pyc

# secrets / local db
*.sqlite
*.db
email_logs.txt
emails.json

backend/app/__pycache__
*.pyc
src/data
public/images
backend/app/__pycache__/app.cpython-311.pyc
backend/app/__pycache__/llm_client.cpython-311.pyc
backend/logs
